/* Write your code here: */

/* h1 i h2 trebaju biti color:bluvoilet  na način da se blueviolet jednom definira  */

/* Do these things today!    color:firebrick preko child selectora; */

/* sve list item preko descendent selector color: blue*/

/* zadnje dvije list item preko chainig matode color: seagreen; */

/* other item postaviti font-size:0.5rem preko kombinacije kombinatora multiole combiner*/

.kuc{
    color: blueviolet;
}
div > p{
    color: firebrick;
}
div ul{
    color: blue;
}
ul li:nth-child(2) {
    color: seagreen;
}
ul li:nth-child(3) {
    color: seagreen;
}
ul>p {
    font-size: 0.5rem;
}